<div>
  <p>
    <mat-toolbar color="primary">
      <span>My App</span>
            
            <a class="nav-link" routerLink="/Task1">Task1</a>
            <a class="nav-link" routerLink="/Task2">Task2</a>
            <a class="nav-link" routerLink="/Task3">Task3</a>
            <a class="nav-link" routerLink="/Task4">Task4</a>
            <a class="nav-link" routerLink="/Task5">Task5</a>
    </mat-toolbar>
  </p><br>
  <h1>Empolyee Details {{ name}}</h1>
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Department</th>
        <th>BasicPay</th>
        <th>Bonus</th>
        <th>Dedcution</th>
        <th>Total Amount</th>
        <th>Status</th>
      </tr>
    <tr>
      <td>{{id}}</td>
      <td>{{name}}</td>
      <td>{{department}}</td>
      <td>{{basicpay}}</td> 
      <td>{{ bonus}}</td>
      <td>{{ deduction}}</td>
      <td>{{total}}</td>
      <td *ngIf="total >= 50000 ">Senior Empolyee</td>
      <td *ngIf="total < 50000">Junior Empolyee</td>
    </tr>
    </table>
    </div>